{% extends "base.html" %}

{% block title %}
  Home | SmileStylist
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<img src="/assets/images/cms-bg02.jpg" alt="cms bg" id="cms-selections">
<div class="container">
    <div id="bg-header-cms" style="margin-bottom:40px;">
        <div class="row">
            <div class="col-md-12">
                <img class="center-block" style="margin-top:3px;"
                  src="/assets/images/logo_and_name.png"
                  alt="SmileStylist">
            </div>
        </div>
    </div><!-- // #bg-header-cms -->


    <div class="row">
        <div class="col-md-6 col-sm-7 col-xs-12 col-center-block">

                {% if message %}
                <div class="alert alert-info">
                  {{ message }}
                </div>
                {% endif %}

                {% if session.loginerror %}
                  {% include 'Error/errormessage.html' %}
                {% endif %}

            <div class="border-box p3 bg-fff">
                <h1 style="margin-bottom:10px;">Log In</h1>

                <form action="/login/log-user-in" method="post" id="login">
                    <div class="form-group">
                        <label for="email">
                          Email
                        </label>
                        <input type="email" class="form-control required" name="email"
                        id="email" placeholder="Email"  autofocus>
                    </div><!-- // .form-group -->

                    <div class="form-group">
                        <label for="password">
                          Password
                        </label>
                        <input type="password" class="form-control required" name="password"
                        placeholder="Password" id="password">
                    </div><!-- // .form-group -->

                    <button class="btn btn-block" type="submit">
                      Login
                    </button>
                </form>

                <div id="change-bg-image" class="text-center">
                    <a style="display:inline-block; margin-top:5px;cursor:pointer;" id="change-image01">Change image</a>
                </div>

            </div><!-- // .border-box -->

        </div><!-- // .col-md-6 -->
    </div><!-- // .row -->
</div><!-- // .container -->


{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){

  $("#login").validate();

  $("#change-image01").click(function(){
        var text = $("#change-image01").text();
        console.log(text);

        if(text == 'Change image'){
            $("#cms-selections").attr("src", "/assets/images/login_bg_02_400x572.jpg");
            $("#change-image01").html("Change again");
        }
        if(text == 'Change again'){
            $("#cms-selections").attr("src", "/assets/images/login_bg_03_450x384.jpg");
            $("#change-image01").html("Change yet again");
        }
        if(text == 'Change yet again'){
            $("#cms-selections").attr("src", "/assets/images/login_bg_400x392.jpg");
            $("#change-image01").html("Restore");
        }
        if(text == 'Restore'){
            $("#cms-selections").attr("src", "/assets/images/cms-bg02.jpg");
            $("#change-image01").html("Change image");
        }
    });

});
</script>
{% endblock %}
