{% extends 'base-admin.html' %}

{% block title %}
  To Do List
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/css/toDo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-8">
  <div id="container">
    <h1>To-Do List <i class="fa fa-plus"></i></h1>
    <input type="text" placeholder="Add New To Do">

    <ul id="todoList">
      <li><span><i class="fa fa-trash"></i></span> Task one</li>
      <li><span><i class="fa fa-trash"></i></span> Task two</li>
      <li><span><i class="fa fa-trash"></i></span> Task three</li>
    </ul>
  </div>
</div>
{% endblock %}


{% block bottomjs %}
<script src="/assets/js/toDo.js"></script>
{% endblock %}
